body {
    margin: 0px;
    padding: 0px;
}
/* header */
.header {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid #000000;
}
/* loginBar */
.loginBar {
    position: absolute;
    width: 306px;
    height: 50.18px;
    left: 25px;
    top: 25px;
}
/* blogTitle */
#blogTitle {
    position: absolute;
    width: 580px;
    height: 58px;
    left: 539px;
    top: 21px;
}
/* search bar */
#headerSearchBar {
    position: absolute;
    width: 175px;
    height: 58px;
    left: 1220px;
    top: 22px;
}